In [124]:
import numpy as np                  
import pandas as pd

In [125]:
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_val_score

In [126]:
df=pd.read_csv(r"C:\Users\om420\Downloads\titanic_10000.csv",usecols=['Age','Fare','Survived'])
df.sample(6)

      Survived   Age     Fare
3733         1  35.0  53.1000
4737         0   2.0  21.0750
1183         1  35.0  53.1000
1980         0  22.0   7.2500
6992         1  26.0   7.9250
6701         1  38.0  71.2833

Applying Binning/descretization

In [127]:
df.dropna(inplace=True)

In [128]:
df.shape

(9000, 3)

In [129]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [130]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [131]:
kbins_Age=KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='quantile')
kbins_Fare=KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='quantile')

In [132]:
trf= ColumnTransformer([('First',kbins_Age,[0]),
                        ('Second',kbins_Fare,[1])])

In [133]:
X_train_trf= trf.fit_transform(X_train)
X_test_trf= trf.fit_transform(X_test)

In [134]:
trf.named_transformers_['First'].bin_edges_

array([array([ 2., 14., 26., 35., 38., 54.])], dtype=object)

In [135]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred=clf.predict(X_test_trf)

In [136]:
accuracy_score(y_test,y_pred)

1.0

Applying Binarization

In [137]:
from sklearn.preprocessing import Binarizer

In [138]:
pf=pd.read_csv(r"C:\Users\om420\Downloads\archive\asiacup.csv",usecols=['Run Scored','Fours','Sixes'])
pf.sample(2)

     Run Scored  Fours  Sixes
216       257.0   16.0    5.0
202       261.0   19.0    6.0

In [139]:
pf.dropna(inplace=True)

In [140]:
pf.isnull().sum()

Run Scored    0
Fours         0
Sixes         0
dtype: int64

In [141]:
x=pf[['Sixes','Fours']]
y=pf['Run Scored']

In [142]:
x_train,x_test,Y_train,Y_test = train_test_split(
    x,y,
    test_size=0.2,
    random_state=42
)

In [143]:
trf = ColumnTransformer(
    transformers=[
        ('bin', Binarizer(threshold=2), ['Sixes'])
    ],
    remainder='passthrough'
)

In [144]:
X_train_trf= trf.fit_transform(x_train)
X_test_trf = trf.transform(x_test)

In [145]:
pd.DataFrame(columns=['Sixes'])

Empty DataFrame
Columns: [Sixes]
Index: []

In [146]:
# BInarization 

data=[[23],[43],[32],[40],[90],[84],[74],[67]]
B=Binarizer(threshold=40)
b_data=B.fit_transform(data)
b_data

array([[0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1]])