In [59]:
import pandas as pd            
import numpy as np  
import seaborn as sns            
import matplotlib.pyplot as plt        
from sklearn.model_selection import train_test_split, cross_val_score                
from sklearn.linear_model import LogisticRegression

In [60]:
df=pd.read_csv(r"C:\Users\om420\Downloads\titanic_10000.csv")[['Age','Pclass','SibSp','Parch','Survived']]
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [61]:
df.dropna(inplace=True)

In [62]:
df.isnull().sum()

Age         0
Pclass      0
SibSp       0
Parch       0
Survived    0
dtype: int64

In [63]:
x=df.iloc[:,0:4]
y=df.iloc[:,-1]

In [77]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))*100

np.float64(100.0)

APPLYING FEATURE CONSTRUCTION

In [65]:
x['FamilySize']=x['SibSp']+x['Parch']+1

In [66]:
x.head()

    Age  Pclass  SibSp  Parch  FamilySize
0  22.0       3      1      0           2
1  38.0       1      1      0           2
2  26.0       3      0      0           1
3  35.0       1      1      0           2
4  35.0       3      0      0           1

In [67]:
def myfunc(num):
    if num==1:
        return '0' #Alone
    elif num>1 and num<4:
        return '1' #Small
    else:
        return '2' #Large

In [68]:
myfunc(5)

'2'

In [69]:
x['Familytype']=x['FamilySize'].apply(myfunc)

In [71]:
x.drop(['SibSp','Parch','FamilySize'],axis=1,inplace=True)

In [72]:
x

       Age  Pclass Familytype
0     22.0       3          1
1     38.0       1          1
2     26.0       3          0
3     35.0       1          1
4     35.0       3          0
...    ...     ...        ...
9994  35.0       3          0
9996  54.0       1          0
9997   2.0       3          2
9998  27.0       2          1
9999  14.0       2          1

[9000 rows x 3 columns]

In [ ]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))*100

np.float64(100.0)