In [9]:
import seaborn as sns 
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
import matplotlib.pyplot as plt
import numpy as np       
from sklearn.preprocessing import LabelEncoder

In [10]:
df=sns.load_dataset('iris')

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
encoder=LabelEncoder()
df['species']=encoder.fit_transform(df['species'])

In [19]:
df.sample()

    sepal_length  sepal_width  petal_length  petal_width  species
27           5.2          3.5           1.5          0.2        0

In [23]:
df=df[['sepal_length','petal_length','species']]

In [24]:
X=df.iloc[:,0:2]
y=df.iloc[:,-1]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
clf=LogisticRegression(multi_class='multinomial')