In [25]:
import pandas as pd               
import numpy as np                    
import matplotlib.pyplot as plt                        
import seaborn as sbn 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score

In [7]:
df=pd.read_csv(r"C:\Users\om420\Downloads\Heart.csv.zip")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [10]:
df.shape

(1025, 14)

In [11]:
X=df.iloc[:,0:-1]
y=df.iloc[:,-1]

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [24]:
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
accuracy_score(y_pred,y_test)

0.9853658536585366

GRIDSEARCHCV

In [28]:
#Number of trees in the forest 
n_estimators = [20,60,100,120]

# number of features to consider at every split
max_features = [0.2,0.6,1]

# maximum level of the tree
max_depth=[2,8,None]

#number of samples
max_samples= [0.5,0.75,1.0]