In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame()

In [4]:
df['X1']=[8,4,3,4,1,6,7,8,9,3]
df['X2']=[1,6,4,2,3,7,8,9,5,2]
df['label']=[1,0,0,0,0,1,1,1,1,0]

In [5]:
df

   X1  X2  label
0   8   1      1
1   4   6      0
2   3   4      0
3   4   2      0
4   1   3      0
5   6   7      1
6   7   8      1
7   8   9      1
8   9   5      1
9   3   2      0

In [6]:
df['weights']=1/len(df)

In [7]:
df

   X1  X2  label  weights
0   8   1      1      0.1
1   4   6      0      0.1
2   3   4      0      0.1
3   4   2      0      0.1
4   1   3      0      0.1
5   6   7      1      0.1
6   7   8      1      0.1
7   8   9      1      0.1
8   9   5      1      0.1
9   3   2      0      0.1

In [1]:
from sklearn.tree import DecisionTreeClassifier