In [1]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [2]:
df=pd.read_csv(r"C:\Users\om420\Downloads\car_data_100.csv")
df.sample(5)

      name  year  selling_price  km_driven    fuel         owner   brand
27  Car 28  2017         335000      57000  Diesel   First Owner   Honda
10  Car 11  2010         250000      40000  Petrol  Second Owner  Maruti
0    Car 1  2010         200000      30000  Petrol   First Owner  Maruti
7    Car 8  2017         235000      37000  Diesel  Second Owner   Honda
9   Car 10  2019         245000      39000  Diesel   First Owner  Toyota

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['selling_price']),df['selling_price'],test_size=0.2)

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

transform = ColumnTransformer(transformers=[
    ('a', SimpleImputer(strategy='most_frequent'),[]),
    ('b', OrdinalEncoder(categories=[['First Owner', 'Second Owner', 'Third Owner']]), ['owner']),
    ('c', OneHotEncoder(sparse_output=False, drop='first'), ['brand'])
], remainder='drop')

In [6]:
transform.fit_transform(X_test).shape

(20, 5)

In [7]:
transform.transform(X_train).shape

(80, 5)