In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.read_csv(r"C:\Users\om420\Downloads\encoding_sample_data.csv")
a

      Name  Gender    Education       City Purchased
0    Alice  Female   Bachelor's     Mumbai       Yes
1      Bob    Male     Master's      Delhi        No
2  Charlie    Male          PhD  Bangalore       Yes
3    Diana  Female   Bachelor's     Mumbai        No
4     Evan    Male  High School    Kolkata        No
5    Fiona  Female     Master's      Delhi       Yes

In [3]:
a=a.iloc[:,2:]
a

     Education       City Purchased
0   Bachelor's     Mumbai       Yes
1     Master's      Delhi        No
2          PhD  Bangalore       Yes
3   Bachelor's     Mumbai        No
4  High School    Kolkata        No
5     Master's      Delhi       Yes

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(a.iloc[:,:],a.iloc[:,-1],test_size=0.1)

In [5]:
X_train

     Education       City Purchased
5     Master's      Delhi       Yes
0   Bachelor's     Mumbai       Yes
1     Master's      Delhi        No
2          PhD  Bangalore       Yes
4  High School    Kolkata        No

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
oe = OrdinalEncoder(categories=[["High School", "Bachelor's", "Master's", "PhD"],
                                ["Delhi", "Mumbai", "Kolkata", "Banglore"]])

In [8]:
oe.fit(X_train)

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [ ]:
X_train=oe.transform(X_train)
X_test=oe.transform(X_test)

NotFittedError: This OrdinalEncoder instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.