In [27]:
import numpy as np                    
import pandas as pd                  
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [28]:
np.random.seed(42)
X = np.random.rand(100, 1) - 0.5
y = 3*X[:, 0]**2 + 0.05 * np.random.randn(100)

In [29]:
df = pd.DataFrame()

In [30]:
df['X'] = X.reshape(100)
df['y'] = y

In [31]:
df.head()

          X         y
0 -0.125460  0.051573
1  0.450714  0.594480
2  0.231994  0.166052
3  0.098658 -0.070178
4 -0.343981  0.343986

In [33]:
df['pred1']=df.y.mean()

In [34]:
df

           X         y      pred     pred1
0  -0.125460  0.051573  0.265458  0.265458
1   0.450714  0.594480  0.265458  0.265458
2   0.231994  0.166052  0.265458  0.265458
3   0.098658 -0.070178  0.265458  0.265458
4  -0.343981  0.343986  0.265458  0.265458
..       ...       ...       ...       ...
95 -0.006204 -0.040675  0.265458  0.265458
96  0.022733 -0.002305  0.265458  0.265458
97 -0.072459  0.032809  0.265458  0.265458
98 -0.474581  0.689516  0.265458  0.265458
99 -0.392109  0.502607  0.265458  0.265458

[100 rows x 4 columns]