In [30]:
import pandas as pd
import numpy as np                       
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [31]:
df=pd.read_csv(r"C:\Users\om420\Downloads\titanic_10000.csv",usecols=['Age','Pclass','Fare','Survived'])

In [32]:
df.isnull().mean()*100

Survived     0.0
Pclass       0.0
Age         10.0
Fare         0.0
dtype: float64

In [33]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [34]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [35]:
X_train.head()

      Pclass   Age     Fare
9254       3  35.0   8.0500
1561       1  38.0  71.2833
1670       3  22.0   7.2500
6087       3   2.0  21.0750
6669       2  14.0  30.0708

In [36]:
knn=KNNImputer(n_neighbors=3,weights='distance')
X_train_trf=knn.fit_transform(X_train)
X_test_trf=knn.transform(X_test)

In [37]:
pd.DataFrame(X_train_trf,columns=X_train.columns)

      Pclass   Age     Fare
0        3.0  35.0   8.0500
1        1.0  38.0  71.2833
2        3.0  22.0   7.2500
3        3.0   2.0  21.0750
4        2.0  14.0  30.0708
...      ...   ...      ...
7995     3.0  35.0   8.0500
7996     1.0  38.0  71.2833
7997     3.0  22.0   7.2500
7998     3.0  22.0   7.2500
7999     3.0  22.0   7.2500

[8000 rows x 3 columns]

In [38]:
lr=LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred=lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.894

In [44]:
#comparison with simple imputation
si = SimpleImputer()
X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [48]:
lr=LogisticRegression()
lr.fit(X_train_trf2,y_train)
y_pred2=lr.predict(X_test_trf2)
accuracy_score(y_test,y_pred2)

0.894