In [2]:
import pandas as pd

In [3]:
pd.read_json(r"C:\Users\om420\Downloads\dishes_100.json")

     id   cuisine                                        ingredients
0     1  American             [mint, cheese, pork, soy sauce, lemon]
1     2  American          [mint, butter, tomato, pepper, soy sauce]
2     3     Greek            [jalapeno, olive oil, beans, soy sauce]
3     4     Greek               [yogurt, mint, cilantro, tofu, beef]
4     5      Thai  [cheese, scallions, oregano, curry paste, garl...
..  ...       ...                                                ...
95   96  Japanese      [noodles, curry paste, white wine, scallions]
96   97   Mexican  [chicken, white wine, vinegar, mushroom, lemon...
97   98   Mexican  [rice, noodles, turmeric, coconut milk, paprik...
98   99    Indian                       [beef, chili, cheese, thyme]
99  100    Indian  [sugar, fish, cilantro, cumin, beef, olive oil...

[100 rows x 3 columns]

In [4]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [ ]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='shreshthi'
)

In [ ]:
import pandas as pd    
a="select*from employee1 where salary=49000"
pd.read_sql_query(a,conn)

NameError: name 'conn' is not defined