In [1]:
import numpy as np                  
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\om420\Downloads\play_tennis_dataset.zip")

In [11]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [12]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [13]:
py=9/14
pn=5/14

In [21]:
#outlook
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [22]:
#outlook
pon=0
prn=2/5
psn=3/5

poy=4/9
pry=3/9
psy=2/9

In [23]:
#temp
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [25]:
#temp
pcoolno=1/5
photno=2/5
pmildno=2/5

pcoolyes=3/9
photyes=2/9
pmildyes=4/9

In [ ]:
#humidity
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [28]:
phighno=4/5
pnormalno=1/5

phighyes=3/9
pnormalyes=6/9

In [29]:
#wind
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [30]:
pstrongno=3/5
pweakno=2/5

pstrongyes=3/9
pweakyes=6/9

In [33]:
#ex. q.)outlook=sunny,temp=hot,humidity=high,wind=weak
pyes=py*psy*photyes*phighyes*pweakyes
pyes

0.007054673721340388