In [1]:
import numpy as np                  
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\om420\Downloads\play_tennis_dataset.zip")

In [11]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [12]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [13]:
py=9/14
pn=5/14

In [17]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2