In [1]:
import pandas as pd   
df=pd.read_csv(r"C:\Users\om420\Downloads\student_placement_data (1).csv")

In [2]:
#1.How big is the data ?
df.shape

(100, 3)

In [3]:
#2.how does the data look like?
df.head()    #use to see first 5 rows
df.sample()  #use to see random rows from file

    Marks   IQ Placement
50     76  156       Yes

In [14]:
#3.what is the type of 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Marks      100 non-null    int64
 1   IQ         100 non-null    int64
 2   Placement  100 non-null    object
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

In [15]:
#4.are there missing values ?
df.isnull().sum()

Marks        0
IQ           0
Placement    0
dtype: int64

In [4]:
#5how does the data look mathematically?
df.describe()

            Marks          IQ
count  100.000000  100.000000
mean    69.580000  119.060000
std     18.031499   23.378666
min     41.000000   80.000000
25%     54.000000  102.750000
50%     68.000000  119.500000
75%     86.000000  141.000000
max     99.000000  159.000000

In [6]:
#6 are there duplicate values?
df.duplicated().sum()

np.int64(1)

In [7]:
#7 HOW Is the correlation between cols?
df.corr('Marks','IQ')

ValueError: could not convert string to float: 'Yes'